/Base64.class
/DescriptionlessStatusData.class
/ExtraStatusData.class
/Players.class
/Version.class
/Description.class
/Extra.class
/FMLIStatusData$ModInfo.class
/FMLIStatusData.class
/FormattingCodes.class
/IDescription.class
/IExtra.class
/IModInfo.class
/IPlayers.class
/IVersion.class
/InternalStatusData.class
/NormalStatusData.class
/PlayerInfo.class
/QueryData.class
/ResponseData.class
/SimpleStatusData.class
/StatusData.class
/package-info.class
